main {
    padding: 0 1.2rem ;
    width: 100%;
}

h1 {
    font-size: 2rem;
    margin: 2.4rem 0;
}

.content ul {
    list-style: none;
    margin-bottom: 3.2rem;
}

.content ul li {
    margin-bottom: 3.2rem;
}

.content ul li h2{
    margin-bottom: 1.8rem;
    font-size: 1.8rem;
    font-weight: 700;
    color: #7F2EF2;
}

.content ul li h3{
    margin-bottom: 1.0rem;
    font-size: 1.4rem;
    font-weight: 700;
    color: #7F2EF2;
}

.content ul li p {
    opacity: 0.9;
    line-height: 140%;
    font-size: 1.4rem;
    width: 55vw;
    margin-bottom: 0.8rem;
}

.content ul li .links {
    margin-top: 1.6rem;
}

.content ul li .sub-topic {
    margin-left: 1rem;
}

summary a {
    color: #7F2EF2;
    text-decoration: none;
}

@media (max-width: 768px) {    
    h1 {
        font-size: 1.6rem;
    }
    .ASCII {
        font-size: 1.2rem;
    }
}

@media (max-width: 480px) {
    h1 {
        font-size: 1.2rem;
    }
}

@media (max-width: 366px) {
    .ASCII{
        font-size: 1rem;
    }

    h1 {
        font-size: 1.2rem;
    }
}